.wrapper{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: 100%;
    /* overflow: hidden auto; */
}
.arrow{
    padding: 10px;
    animation: bounce 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.arrow-head{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right:  4px solid transparent;
    border-bottom: 4px solid rgba(45, 62, 80);

}
.down-arrow-head{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right:  4px solid transparent;
    border-top: 4px solid rgba(45, 62, 80);
}
.arrow-body{
    height: 100px;
    width: 2px;
    background-color: rgba(45, 62, 80);
    margin-left: 3px
}

@keyframes bounce {
from { transform: translate3d(0, 0, 0);     }
to   { transform: translate3d(0, 500px, 0); }
}