@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/* img */
*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
}
*:focus {
	outline: 0;
}
svg:not(:root){
	overflow:hidden;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #e6ffe6;
}
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #fff;
	display: table;
	height: 540px;
	width: 320px;
	box-shadow: 0 0 12px 3px rgba(0,0,0,.12);
}
.wrapper > div {
	display: table-cell;
	vertical-align: middle;
	padding: 0 40px;
    /* margin: 40px; */
}
h1 {
	font-size: 25px;
	font-weight: 400;
}
p {
	color: #CACACA;
	font-size: 12px;
	margin: 10px 0 40px 0;
}
a {
	color: #EA4C89;
	text-decoration: none;
}
fieldset {
	position: relative;
	margin-bottom: 50px;
}
input {
	color: #46505F;
	font-weight: 600;
	width: 100%;
	font-size: 16px;
	padding: 12px 46px 12px 0;
	font-family: 'Open Sans', sans-serif;
}
input[type="submit"] {
	font-weight: 400;
	color: rgba(45, 62, 80);;
	font-size: 20px;
	cursor: pointer;
	padding: 0;
	width: auto;
    border: 2px solid rgba(45, 62, 80);;
    padding: 10px 60px;
    transition: 0.25s;
    transition-delay:0.05s;
}
input[type="submit"]:hover {
    background-color: rgba(45, 62, 80);;
    color: white;
    border: none;
}

input::-webkit-input-placeholder {
  color: #CACACA;
  font-weight: 400;
}
::-moz-placeholder {
  color: #CACACA;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: #CACACA;
  font-weight: 400;
  opacity: 1;
}
::-webkit-input-placeholder {
  color: #CACACA;
  font-weight: 400;
}
::placeholder {
  color: #CACACA;
  font-weight: 400;
}
input::-ms-clear {  
  display: none; 
}
input::-ms-reveal { 
  display: none; 
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {      
  display: none; 
}
fieldset #way {
	position: absolute;
	bottom: 0;
	/*z-index: -1;*/
	pointer-events: none;
	height: 46px;
	width: 267px;
}
.cd-block {
	position: relative;
}
.cd-block svg {
	position: absolute;
	top: 0;
	right: 0;
	height: 46px;
	width: 46px;
}
path {
	stroke-width: 2;
	stroke: rgba(45, 62, 80);;
}
#show_password {
	cursor: pointer;
	visibility: hidden;
	-webkit-transition-delay: .3s;
	-o-transition-delay: .3s;
	transition-delay: .3s;
}
.cd-block.typing #show_password {
	visibility: visible;
	-webkit-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}


/* my styles */



img {
    width: 70px;
}