
/* This hides the default radio buttons 
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: relative;
  left: 14px;
  z-index: 99;
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 20px 20px 20px 35px;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: left;
  border-radius: 4px;
  text-transform: uppercase;
  color: #70757d;;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  left: -20px;
}

.checkbox-tools:checked + label {
  background-color: white;
  border: 1px solid rgba(45, 62, 80);
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:not(:checked) + label {
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:not(:checked) + label:hover,
.checkbox-tools:checked + label:hover,
[type="radio"]:hover + label {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
/* 
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
} */

input[type='radio']:checked:after {
    width: 11px;
    height: 11px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgba(45, 62, 80) !important;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;

}